.alert {
    -fx-background-color: pink;
}

.alert .dialog-pane {
    -fx-background-color: pink;
    -fx-border-color: pink;
}

.alert .header-panel {
    -fx-background-color: pink;
}

.alert .content {
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: top-center;
}

.alert .button-bar {
    -fx-background-color: pink;
}

.properties {
    -fx-padding: 10px;
}

.properties .property-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.properties .property-value {
    -fx-font-size: 14px;
    -fx-background-color: #F5F5F5;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #CCCCCC;
}

.properties .property-row {
    -fx-spacing: 10px;
    -fx-padding: 5px 0;
}

.properties .property-row .property-label {
    -fx-min-width: 200px;
}

.properties .property-row .property-value {
    -fx-min-width: 200px;
}



.hint-button {
    -fx-background-color: #e76378;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-family: "Poppins", sans-serif;
}

.hint-button:hover {
    -fx-background-color: lightpink;
    -fx-text-fill: yellow;
}

.title {
    -fx-font-family: "SansSerif", sans-serif;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #e76378;
}

.sub-label {
    -fx-font-family: "SansSerif", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff61b4;
}

.menu-bar {
    -fx-background-color: #F5F5F5;
}

.menu-bar .menu {
    -fx-text-fill: #333333;
}

.menu-bar .menu:hover {
    -fx-background-color: #00b2c5;
}

.menu-bar .menu .menu-item {
    -fx-text-fill: #333333;
}

.menu-bar .menu .menu-item:hover {
    -fx-background-color: #e76378;
}

.menu-bar .menu .menu-item:focused {
    -fx-background-color: #e76378;
}

.menu-bar .menu .menu-item:pressed {
    -fx-background-color: #e76378;
}

.solved-label {
    -fx-font-size: 70px;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: white;
    -fx-border-width: 2px;
}



