.alert {
    -fx-background-color: pink;
}

.alert .dialog-pane {
    -fx-background-color: pink;
    -fx-border-color: pink;
}

.alert .header-panel {
    -fx-background-color: pink;
}

.alert .content {
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: top-center;
}

.alert .button-bar {
    -fx-background-color: pink;
}

.hint-button {
    -fx-background-color: #e76378;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-family: "Poppins", sans-serif;
}

.hint-button:hover {
    -fx-background-color: lightpink;
    -fx-text-fill: yellow;
}


